//Midnight

/* SCSS HEX */
$xiketic: #151726ff;
$raisin-black: #1c1e2dff;
$raisin-black-2: #232534ff;
$rhythm: #6b6d7cff;
$roman-silver: #8d8f9eff;
$lavender-web: #dee0efff;
$raisin-black-3: #1f212fff;
$charcoal: #3e404fff;
$independence: #4f5162ff;
$carolina-blue: #5ba2d0ff;
$light-blue: #9ccfd8ff;
$congo-pink: #ee8679ff;
$pale-pink: #f8d2c9ff;
$lavender-floral: #a78bfaff;
$french-sky-blue: #94b8ffff;


/* SCSS HSL */
$xiketic: hsla(233, 29%, 12%, 1);
$raisin-black: hsla(233, 23%, 14%, 1);
$raisin-black-2: hsla(233, 20%, 17%, 1);
$rhythm: hsla(233, 7%, 45%, 1);
$roman-silver: hsla(233, 8%, 59%, 1);
$lavender-web: hsla(233, 35%, 90%, 1);
$raisin-black-3: hsla(233, 21%, 15%, 1);
$charcoal: hsla(233, 12%, 28%, 1);
$independence: hsla(234, 11%, 35%, 1);
$carolina-blue: hsla(204, 55%, 59%, 1);
$light-blue: hsla(189, 43%, 73%, 1);
$congo-pink: hsla(7, 77%, 70%, 1);
$pale-pink: hsla(11, 77%, 88%, 1);
$lavender-floral: hsla(255, 92%, 76%, 1);
$french-sky-blue: hsla(220, 100%, 79%, 1);

/* SCSS RGB */
$xiketic: rgba(21, 23, 38, 1);
$raisin-black: rgba(28, 30, 45, 1);
$raisin-black-2: rgba(35, 37, 52, 1);
$rhythm: rgba(107, 109, 124, 1);
$roman-silver: rgba(141, 143, 158, 1);
$lavender-web: rgba(222, 224, 239, 1);
$raisin-black-3: rgba(31, 33, 47, 1);
$charcoal: rgba(62, 64, 79, 1);
$independence: rgba(79, 81, 98, 1);
$carolina-blue: rgba(91, 162, 208, 1);
$light-blue: rgba(156, 207, 216, 1);
$congo-pink: rgba(238, 134, 121, 1);
$pale-pink: rgba(248, 210, 201, 1);
$lavender-floral: rgba(167, 139, 250, 1);
$french-sky-blue: rgba(148, 184, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #151726ff, #1c1e2dff, #232534ff, #6b6d7cff, #8d8f9eff, #dee0efff, #1f212fff, #3e404fff, #4f5162ff);
$gradient-right: linear-gradient(90deg, #151726ff, #1c1e2dff, #232534ff, #6b6d7cff, #8d8f9eff, #dee0efff, #1f212fff, #3e404fff, #4f5162ff);
$gradient-bottom: linear-gradient(180deg, #151726ff, #1c1e2dff, #232534ff, #6b6d7cff, #8d8f9eff, #dee0efff, #1f212fff, #3e404fff, #4f5162ff);
$gradient-left: linear-gradient(270deg, #151726ff, #1c1e2dff, #232534ff, #6b6d7cff, #8d8f9eff, #dee0efff, #1f212fff, #3e404fff, #4f5162ff);
$gradient-top-right: linear-gradient(45deg, #151726ff, #1c1e2dff, #232534ff, #6b6d7cff, #8d8f9eff, #dee0efff, #1f212fff, #3e404fff, #4f5162ff);
$gradient-bottom-right: linear-gradient(135deg, #151726ff, #1c1e2dff, #232534ff, #6b6d7cff, #8d8f9eff, #dee0efff, #1f212fff, #3e404fff, #4f5162ff);
$gradient-top-left: linear-gradient(225deg, #151726ff, #1c1e2dff, #232534ff, #6b6d7cff, #8d8f9eff, #dee0efff, #1f212fff, #3e404fff, #4f5162ff);
$gradient-bottom-left: linear-gradient(315deg, #151726ff, #1c1e2dff, #232534ff, #6b6d7cff, #8d8f9eff, #dee0efff, #1f212fff, #3e404fff, #4f5162ff);
$gradient-radial: radial-gradient(#151726ff, #1c1e2dff, #232534ff, #6b6d7cff, #8d8f9eff, #dee0efff, #1f212fff, #3e404fff, #4f5162ff);
$gradient-top: linear-gradient(0deg, #5ba2d0ff, #9ccfd8ff, #ee8679ff, #f8d2c9ff, #a78bfaff, #94b8ffff);
$gradient-right: linear-gradient(90deg, #5ba2d0ff, #9ccfd8ff, #ee8679ff, #f8d2c9ff, #a78bfaff, #94b8ffff);
$gradient-bottom: linear-gradient(180deg, #5ba2d0ff, #9ccfd8ff, #ee8679ff, #f8d2c9ff, #a78bfaff, #94b8ffff);
$gradient-left: linear-gradient(270deg, #5ba2d0ff, #9ccfd8ff, #ee8679ff, #f8d2c9ff, #a78bfaff, #94b8ffff);
$gradient-top-right: linear-gradient(45deg, #5ba2d0ff, #9ccfd8ff, #ee8679ff, #f8d2c9ff, #a78bfaff, #94b8ffff);
$gradient-bottom-right: linear-gradient(135deg, #5ba2d0ff, #9ccfd8ff, #ee8679ff, #f8d2c9ff, #a78bfaff, #94b8ffff);
$gradient-top-left: linear-gradient(225deg, #5ba2d0ff, #9ccfd8ff, #ee8679ff, #f8d2c9ff, #a78bfaff, #94b8ffff);
$gradient-bottom-left: linear-gradient(315deg, #5ba2d0ff, #9ccfd8ff, #ee8679ff, #f8d2c9ff, #a78bfaff, #94b8ffff);
$gradient-radial: radial-gradient(#5ba2d0ff, #9ccfd8ff, #ee8679ff, #f8d2c9ff, #a78bfaff, #94b8ffff);



//Sunset

/* SCSS HEX */
$raisin-black: #202231ff;
$raisin-black-2: #272938ff;
$charcoal: #363847ff;
$rhythm: #6b6d7cff;
$roman-silver: #8d8f9eff;
$lavender-web: #dee0efff;
$raisin-black-3: #292a3aff;
$independence: #414354ff;
$independence-2: #535568ff;
$blue-bell: #a392dcff;
$wild-blue-yonder: #a0b6e8ff;
$new-york-pink: #d1918fff;
$pale-pink: #edd5d6ff;
$cerulean-frost: #709bbdff;
$light-blue: #aac9d4ff;

/* SCSS HSL */
$raisin-black: hsla(233, 21%, 16%, 1);
$raisin-black-2: hsla(233, 18%, 19%, 1);
$charcoal: hsla(233, 14%, 25%, 1);
$rhythm: hsla(233, 7%, 45%, 1);
$roman-silver: hsla(233, 8%, 59%, 1);
$lavender-web: hsla(233, 35%, 90%, 1);
$raisin-black-3: hsla(236, 17%, 19%, 1);
$independence: hsla(234, 13%, 29%, 1);
$independence-2: hsla(234, 11%, 37%, 1);
$blue-bell: hsla(254, 51%, 72%, 1);
$wild-blue-yonder: hsla(222, 61%, 77%, 1);
$new-york-pink: hsla(2, 42%, 69%, 1);
$pale-pink: hsla(358, 40%, 88%, 1);
$cerulean-frost: hsla(206, 37%, 59%, 1);
$light-blue: hsla(196, 33%, 75%, 1);

/* SCSS RGB */
$raisin-black: rgba(32, 34, 49, 1);
$raisin-black-2: rgba(39, 41, 56, 1);
$charcoal: rgba(54, 56, 71, 1);
$rhythm: rgba(107, 109, 124, 1);
$roman-silver: rgba(141, 143, 158, 1);
$lavender-web: rgba(222, 224, 239, 1);
$raisin-black-3: rgba(41, 42, 58, 1);
$independence: rgba(65, 67, 84, 1);
$independence-2: rgba(83, 85, 104, 1);
$blue-bell: rgba(163, 146, 220, 1);
$wild-blue-yonder: rgba(160, 182, 232, 1);
$new-york-pink: rgba(209, 145, 143, 1);
$pale-pink: rgba(237, 213, 214, 1);
$cerulean-frost: rgba(112, 155, 189, 1);
$light-blue: rgba(170, 201, 212, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #202231ff, #272938ff, #363847ff, #6b6d7cff, #8d8f9eff, #dee0efff, #292a3aff, #414354ff, #535568ff);
$gradient-right: linear-gradient(90deg, #202231ff, #272938ff, #363847ff, #6b6d7cff, #8d8f9eff, #dee0efff, #292a3aff, #414354ff, #535568ff);
$gradient-bottom: linear-gradient(180deg, #202231ff, #272938ff, #363847ff, #6b6d7cff, #8d8f9eff, #dee0efff, #292a3aff, #414354ff, #535568ff);
$gradient-left: linear-gradient(270deg, #202231ff, #272938ff, #363847ff, #6b6d7cff, #8d8f9eff, #dee0efff, #292a3aff, #414354ff, #535568ff);
$gradient-top-right: linear-gradient(45deg, #202231ff, #272938ff, #363847ff, #6b6d7cff, #8d8f9eff, #dee0efff, #292a3aff, #414354ff, #535568ff);
$gradient-bottom-right: linear-gradient(135deg, #202231ff, #272938ff, #363847ff, #6b6d7cff, #8d8f9eff, #dee0efff, #292a3aff, #414354ff, #535568ff);
$gradient-top-left: linear-gradient(225deg, #202231ff, #272938ff, #363847ff, #6b6d7cff, #8d8f9eff, #dee0efff, #292a3aff, #414354ff, #535568ff);
$gradient-bottom-left: linear-gradient(315deg, #202231ff, #272938ff, #363847ff, #6b6d7cff, #8d8f9eff, #dee0efff, #292a3aff, #414354ff, #535568ff);
$gradient-radial: radial-gradient(#202231ff, #272938ff, #363847ff, #6b6d7cff, #8d8f9eff, #dee0efff, #292a3aff, #414354ff, #535568ff);
$gradient-top: linear-gradient(0deg, #a392dcff, #a0b6e8ff, #d1918fff, #edd5d6ff, #709bbdff, #aac9d4ff);
$gradient-right: linear-gradient(90deg, #a392dcff, #a0b6e8ff, #d1918fff, #edd5d6ff, #709bbdff, #aac9d4ff);
$gradient-bottom: linear-gradient(180deg, #a392dcff, #a0b6e8ff, #d1918fff, #edd5d6ff, #709bbdff, #aac9d4ff);
$gradient-left: linear-gradient(270deg, #a392dcff, #a0b6e8ff, #d1918fff, #edd5d6ff, #709bbdff, #aac9d4ff);
$gradient-top-right: linear-gradient(45deg, #a392dcff, #a0b6e8ff, #d1918fff, #edd5d6ff, #709bbdff, #aac9d4ff);
$gradient-bottom-right: linear-gradient(135deg, #a392dcff, #a0b6e8ff, #d1918fff, #edd5d6ff, #709bbdff, #aac9d4ff);
$gradient-top-left: linear-gradient(225deg, #a392dcff, #a0b6e8ff, #d1918fff, #edd5d6ff, #709bbdff, #aac9d4ff);
$gradient-bottom-left: linear-gradient(315deg, #a392dcff, #a0b6e8ff, #d1918fff, #edd5d6ff, #709bbdff, #aac9d4ff);
$gradient-radial: radial-gradient(#a392dcff, #a0b6e8ff, #d1918fff, #edd5d6ff, #709bbdff, #aac9d4ff);





//Morning


/* SCSS HEX */
$white: #fdfdfeff;
$cultured: #f1f1f4ff;
$gainsboro: #d8dae4ff;
$cool-grey: #8388adff;
$dark-blue-gray: #5f6488ff;
$independence: #4e5377ff;
$light-periwinkle: #c1c3d6ff;
$wild-blue-yonder: #aab0d5ff;
$cool-grey-2: #949abeff;
$fuzzy-wuzzy: #d26a5dff;
$vivid-tangerine: #f19a8eff;
$green-blue-crayola: #3788beff;
$cadet-blue: #77aab3ff;
$medium-purple: #886cdbff;
$cornflower-blue: #7397deff;

/* SCSS HSL */
$white: hsla(240, 33%, 99%, 1);
$cultured: hsla(240, 12%, 95%, 1);
$gainsboro: hsla(230, 18%, 87%, 1);
$cool-grey: hsla(233, 20%, 60%, 1);
$dark-blue-gray: hsla(233, 18%, 45%, 1);
$independence: hsla(233, 21%, 39%, 1);
$light-periwinkle: hsla(234, 20%, 80%, 1);
$wild-blue-yonder: hsla(232, 34%, 75%, 1);
$cool-grey-2: hsla(231, 24%, 66%, 1);
$fuzzy-wuzzy: hsla(7, 57%, 59%, 1);
$vivid-tangerine: hsla(7, 78%, 75%, 1);
$green-blue-crayola: hsla(204, 55%, 48%, 1);
$cadet-blue: hsla(189, 28%, 58%, 1);
$medium-purple: hsla(255, 61%, 64%, 1);
$cornflower-blue: hsla(220, 62%, 66%, 1);

/* SCSS RGB */
$white: rgba(253, 253, 254, 1);
$cultured: rgba(241, 241, 244, 1);
$gainsboro: rgba(216, 218, 228, 1);
$cool-grey: rgba(131, 136, 173, 1);
$dark-blue-gray: rgba(95, 100, 136, 1);
$independence: rgba(78, 83, 119, 1);
$light-periwinkle: rgba(193, 195, 214, 1);
$wild-blue-yonder: rgba(170, 176, 213, 1);
$cool-grey-2: rgba(148, 154, 190, 1);
$fuzzy-wuzzy: rgba(210, 106, 93, 1);
$vivid-tangerine: rgba(241, 154, 142, 1);
$green-blue-crayola: rgba(55, 136, 190, 1);
$cadet-blue: rgba(119, 170, 179, 1);
$medium-purple: rgba(136, 108, 219, 1);
$cornflower-blue: rgba(115, 151, 222, 1);


/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #fdfdfeff, #f1f1f4ff, #d8dae4ff, #8388adff, #5f6488ff, #4e5377ff, #c1c3d6ff, #aab0d5ff, #949abeff);
$gradient-right: linear-gradient(90deg, #fdfdfeff, #f1f1f4ff, #d8dae4ff, #8388adff, #5f6488ff, #4e5377ff, #c1c3d6ff, #aab0d5ff, #949abeff);
$gradient-bottom: linear-gradient(180deg, #fdfdfeff, #f1f1f4ff, #d8dae4ff, #8388adff, #5f6488ff, #4e5377ff, #c1c3d6ff, #aab0d5ff, #949abeff);
$gradient-left: linear-gradient(270deg, #fdfdfeff, #f1f1f4ff, #d8dae4ff, #8388adff, #5f6488ff, #4e5377ff, #c1c3d6ff, #aab0d5ff, #949abeff);
$gradient-top-right: linear-gradient(45deg, #fdfdfeff, #f1f1f4ff, #d8dae4ff, #8388adff, #5f6488ff, #4e5377ff, #c1c3d6ff, #aab0d5ff, #949abeff);
$gradient-bottom-right: linear-gradient(135deg, #fdfdfeff, #f1f1f4ff, #d8dae4ff, #8388adff, #5f6488ff, #4e5377ff, #c1c3d6ff, #aab0d5ff, #949abeff);
$gradient-top-left: linear-gradient(225deg, #fdfdfeff, #f1f1f4ff, #d8dae4ff, #8388adff, #5f6488ff, #4e5377ff, #c1c3d6ff, #aab0d5ff, #949abeff);
$gradient-bottom-left: linear-gradient(315deg, #fdfdfeff, #f1f1f4ff, #d8dae4ff, #8388adff, #5f6488ff, #4e5377ff, #c1c3d6ff, #aab0d5ff, #949abeff);
$gradient-radial: radial-gradient(#fdfdfeff, #f1f1f4ff, #d8dae4ff, #8388adff, #5f6488ff, #4e5377ff, #c1c3d6ff, #aab0d5ff, #949abeff);
$gradient-top: linear-gradient(0deg, #d26a5dff, #f19a8eff, #3788beff, #77aab3ff, #886cdbff, #7397deff);
$gradient-right: linear-gradient(90deg, #d26a5dff, #f19a8eff, #3788beff, #77aab3ff, #886cdbff, #7397deff);
$gradient-bottom: linear-gradient(180deg, #d26a5dff, #f19a8eff, #3788beff, #77aab3ff, #886cdbff, #7397deff);
$gradient-left: linear-gradient(270deg, #d26a5dff, #f19a8eff, #3788beff, #77aab3ff, #886cdbff, #7397deff);
$gradient-top-right: linear-gradient(45deg, #d26a5dff, #f19a8eff, #3788beff, #77aab3ff, #886cdbff, #7397deff);
$gradient-bottom-right: linear-gradient(135deg, #d26a5dff, #f19a8eff, #3788beff, #77aab3ff, #886cdbff, #7397deff);
$gradient-top-left: linear-gradient(225deg, #d26a5dff, #f19a8eff, #3788beff, #77aab3ff, #886cdbff, #7397deff);
$gradient-bottom-left: linear-gradient(315deg, #d26a5dff, #f19a8eff, #3788beff, #77aab3ff, #886cdbff, #7397deff);
$gradient-radial: radial-gradient(#d26a5dff, #f19a8eff, #3788beff, #77aab3ff, #886cdbff, #7397deff);























